* {
    cursor: url(https://cur.cursors-4u.net/games/gam-3/gam257.cur), auto !important;
} 

button,
area{
    cursor: url(https://cur.cursors-4u.net/games/gam-3/gam255.ani), url(https://cur.cursors-4u.net/games/gam-3/gam255.png), auto !important;
}

.unbuyable{
    background-color: #836A44 !important;
    color: #1E1B17 !important;
}

button:hover:not.unbuyable {
    filter: drop-shadow(0 0 10px #836A44) drop-shadow(0 0 15px #836A44);
    transition: .2s;
}

.red {
    color: rgb(255, 88, 88);
}